---

---
<div class="max-w-md bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 gap-2 ml-auto mr-auto mb-20">
	<img class="w-full" src="/assets/flutter2.png" alt="image-alt-text" />
	<div class="p-6 ">
		<a>
			<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                Create card using Astro
            </h5>
		</a>
		<p class="mb-3 font-normal text-gray-700 dark:text-gray-400">it contains description from card</p>
		<div class="flex justify-between items-center">
			<div class="flex justify-between items-center gap-2">
				<div class="rounded-full w-7 h-7 overflow-hidden">
					<img src="/assets/lotus.jpeg" class="w-full h-full" alt="" />
				</div>
				<p>Priyanka </p>
			</div>
			<a  class="cursor-pointer inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
				Read more &nbsp;&rarr;
			</a>
		</div>
	</div>
</div>