---

import Blogpost from '../pages/components/BlogPost.vue';
import PostDetail from '../pages/components/PostDetail.vue';
import Card from '../pages/components/Card.astro';

---

<html>
  <body>  
    <Blogpost/>
    <Card />
    <PostDetail/>
    
   
  </body>
</html>
