---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component front matter". It never runs in the browser.
console.log("This runs in your terminal, not the browser!");
import Vueindex from '../pages/components/index.vue';
---

<html>
  <body>
    <h1 class="flex justify-center">Hello, World!</h1>
      
    <Vueindex />
    <style>
      h1 {
        color: orange;
      }
    </style>
  </body>
</html>
